@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
/* #94004A */

body{
  background-color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html, body  {
  margin: 0 !important;
  padding: 0 !important;
}


@theme {
  --color-ws-white: #FFFFFF;
  --color-bub-primary: #94004A;
  --color-bub-secondary: #FBF1F1;
  --color-bub-tertiary: #8194F5;
  --color-bub-minor: #96746A;
  --color-bub-danger: #E32C2B;

  /* FONTS  */
  --font-andika: 'Andika New Basic', sans-serif;
}


.aboutBannerImg {
  background-image: url('../../public/assets/images/aboutBanner.jpg');
  background-position: center;
  background-size: cover;
}

.homeBannerImg {
  background-image: url('../../public/assets/images/homeBanner.jpg');
  background-position: center;
  background-size: cover;
}

.aboutBubblegum {
  background-image: url('../../public/assets/images/couples.png');
  background-position: center;
  background-size: cover;
}

.chip{
   background-image: url('../../public/assets/images/chip.jpg');
  background-position: center;
  background-size: cover;
}

.cardImg {
  background-image: url('../../public/assets/images/cardImg.jpg');
  background-position: center;
  background-size: 1550px;
}


.cardImg2 {
  background-image: url('../../public/assets/images/cardImg.jpg');
  background-position: center;
  background-size: cover;
}

.sideImg {
  background-image: url('../../public/assets/images/sideImg.jpg');
  background-position: center;
}

.sideImg2 {
  background-image: url('../../public/assets/images/sideImg2.png');
  background-position: center;
  background-size: cover;
}