@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
/* #94004A */


@theme {
  --color-ws-white: #FFFFFF;
  --color-bub-primary: #94004A;
  --color-bub-secondary: #FBF1F1;
  --color-bub-tertiary: #8194F5;
  --color-bub-minor: #96746A;



    /* FONTS  */
   --font-andika: 'Andika New Basic', mono ;
}

